<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>Our Blog</title>
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="container">
		<div class="jumbotron">
  	<h1><a href="index.html">Our Blog</a></h1>
  	<p>Our Blog는 우리의 꿈과 희망을 나누는 곳입니다.</p>
  	<p>
			<form class="form-inline" role="search">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Search">
				</div>
				<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
			</form>
  	</p>
		</div>
		<div class="row">

			<!-- 블로그 글 목록 -->
			<div class="col-md-9">

				<!-- 블로그 글 -->
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title"><h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h2></h3>
					</div>
					<div class="panel-body">
						<p>
							<img class="img-responsive list-img" src="images/sample1.jpg" width="200" height="133" alt="image sample" align="left">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto eveniet iure quam excepturi, necessitatibus aliquam accusamus illo ea veniam in quod laborum rerum, vel ut distinctio possimus quibusdam animi nostrum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ex omnis ut, adipisci vel. Atque mollitia pariatur corporis non at error beatae aliquam praesentium aliquid autem. Omnis, aperiam pariatur saepe. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto eveniet iure quam excepturi, necessitatibus aliquam accusamus illo ea veniam in quod laborum rerum, vel ut distinctio possimus quibusdam animi nostrum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ex omnis ut, adipisci vel. Atque mollitia pariatur corporis non at error beatae aliquam praesentium aliquid autem. Omnis, aperiam pariatur saepe.								
						</p>
					</div>
					<div class="panel-footer">
						<div class="row">
							<div class="col-md-6"><span class="category"><strong>[life]</strong></span>&nbsp;&nbsp;<span class="writer">홍길동</span>&nbsp;&nbsp;<span class="date">2017-03-05 15:30:22</span>&nbsp;&nbsp;<span class="commentcount">댓글수 <span class="badge">3</span></span></div>
							<div class="col-md-6 btns">
								<a href="modify.html" class="btn btn-success"><span class="glyphicon glyphicon-edit"></span> 수정</a>
								<a href="" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> 삭제</a>
								<a href="view.html" class="btn btn-primary"><span class="glyphicon glyphicon-zoom-in"></span> 더보기</a>
							</div>
						</div>						
					</div>
				</div>
				<!-- //블로그 글 -->

				<!-- 블로그 글 -->
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title"><h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h2></h3>
					</div>
					<div class="panel-body">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto eveniet iure quam excepturi, necessitatibus aliquam accusamus illo ea veniam in quod laborum rerum, vel ut distinctio possimus quibusdam animi nostrum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ex omnis ut, adipisci vel. Atque mollitia pariatur corporis non at error beatae aliquam praesentium aliquid autem. Omnis, aperiam pariatur saepe. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto eveniet iure quam excepturi, necessitatibus aliquam accusamus illo ea veniam in quod laborum rerum, vel ut distinctio possimus quibusdam animi nostrum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ex omnis ut, adipisci vel. Atque mollitia pariatur corporis non at error beatae aliquam praesentium aliquid autem. Omnis, aperiam pariatur saepe.								
						</p>
					</div>
					<div class="panel-footer">
						<div class="row">
							<div class="col-md-6"><strong>[art]</strong></span>&nbsp;&nbsp;<span class="writer">장영민</span>&nbsp;&nbsp;<span class="date">2017-02-25 13:42:28</span>&nbsp;&nbsp;<span class="commentcount">댓글수 <span class="badge">2</span></span></div>
							<div class="col-md-6 btns">
								<a href="modify.html" class="btn btn-success"><span class="glyphicon glyphicon-edit"></span>수정</a>
								<a href="" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> 삭제</a>
								<a href="view.html" class="btn btn-primary"><span class="glyphicon glyphicon-zoom-in"></span> 더보기</a>
							</div>
						</div>
					</div>
				</div>				
				<!-- //블로그 글 -->

				<!-- 블로그 글 -->
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title"><h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h2></h3>
					</div>
					<div class="panel-body">
						<p>
							<img  class="img-responsive list-img" src="images/sample2.jpg" width="200" height="149" alt="image sample" align="left">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto eveniet iure quam excepturi, necessitatibus aliquam accusamus illo ea veniam in quod laborum rerum, vel ut distinctio possimus quibusdam animi nostrum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ex omnis ut, adipisci vel. Atque mollitia pariatur corporis non at error beatae aliquam praesentium aliquid autem. Omnis, aperiam pariatur saepe. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto eveniet iure quam excepturi, necessitatibus aliquam accusamus illo ea veniam in quod laborum rerum, vel ut distinctio possimus quibusdam animi nostrum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ex omnis ut, adipisci vel. Atque mollitia pariatur corporis non at error beatae aliquam praesentium aliquid autem. Omnis, aperiam pariatur saepe.								
						</p>
					</div>
					<div class="panel-footer">
						<div class="row">
							<div class="col-md-6"><strong>[technics]</strong></span>&nbsp;&nbsp;<span class="writer">최길수</span>&nbsp;&nbsp;<span class="date">2017-02-01 22:13:34</span>&nbsp;&nbsp;<span class="commentcount">댓글수 <span class="badge">12</span></span></div>
							<div class="col-md-6 btns">
								<a href="modify.html" class="btn btn-success"><span class="glyphicon glyphicon-edit"></span>수정</a>
								<a href="" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> 삭제</a>
								<a href="view.html" class="btn btn-primary"><span class="glyphicon glyphicon-zoom-in"></span> 더보기</a>
							</div>
						</div>						
					</div>
				</div>				
				<!-- //블로그 글 -->				

				<!-- 블로그 글 -->
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title"><h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h2></h3>
					</div>
					<div class="panel-body">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto eveniet iure quam excepturi, necessitatibus aliquam accusamus illo ea veniam in quod laborum rerum, vel ut distinctio possimus quibusdam animi nostrum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ex omnis ut, adipisci vel. Atque mollitia pariatur corporis non at error beatae aliquam praesentium aliquid autem. Omnis, aperiam pariatur saepe. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto eveniet iure quam excepturi, necessitatibus aliquam accusamus illo ea veniam in quod laborum rerum, vel ut distinctio possimus quibusdam animi nostrum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ex omnis ut, adipisci vel. Atque mollitia pariatur corporis non at error beatae aliquam praesentium aliquid autem. Omnis, aperiam pariatur saepe.								
						</p>
					</div>
					<div class="panel-footer">
						<div class="row">
							<div class="col-md-6"><strong>[fashion]</strong></span>&nbsp;&nbsp;<span class="writer">김영철</span>&nbsp;&nbsp;<span class="date">2017-01-17 11:16:05</span>&nbsp;&nbsp;<span class="commentcount">댓글수 <span class="badge">27</span></span></div>
							<div class="col-md-6 btns">
								<a href="modify.html" class="btn btn-success"><span class="glyphicon glyphicon-edit"></span>수정</a>
								<a href="" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> 삭제</a>
								<a href="view.html" class="btn btn-primary"><span class="glyphicon glyphicon-zoom-in"></span> 더보기</a>
							</div>
						</div>						
					</div>
				</div>				
				<!-- //블로그 글 -->				

				<!-- 블로그 글 -->
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title"><h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h2></h3>
					</div>
					<div class="panel-body">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto eveniet iure quam excepturi, necessitatibus aliquam accusamus illo ea veniam in quod laborum rerum, vel ut distinctio possimus quibusdam animi nostrum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ex omnis ut, adipisci vel. Atque mollitia pariatur corporis non at error beatae aliquam praesentium aliquid autem. Omnis, aperiam pariatur saepe. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto eveniet iure quam excepturi, necessitatibus aliquam accusamus illo ea veniam in quod laborum rerum, vel ut distinctio possimus quibusdam animi nostrum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ex omnis ut, adipisci vel. Atque mollitia pariatur corporis non at error beatae aliquam praesentium aliquid autem. Omnis, aperiam pariatur saepe.								
						</p>
					</div>
					<div class="panel-footer">
						<div class="row">
							<div class="col-md-6"><strong>[etcs]</strong></span>&nbsp;&nbsp;<span class="writer">박철수</span>&nbsp;&nbsp;<span class="date">2017-01-05 09:11:22</span>&nbsp;&nbsp;<span class="commentcount">댓글수 <span class="badge">8</span></span></div>
							<div class="col-md-6 btns">
								<a href="modify.html" class="btn btn-success"><span class="glyphicon glyphicon-edit"></span>수정</a>
								<a href="" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> 삭제</a>
								<a href="view.html" class="btn btn-primary"><span class="glyphicon glyphicon-zoom-in"></span> 더보기</a>
							</div>
						</div>						
					</div>
				</div>				
				<!-- //블로그 글 -->
				
				<!-- 페이지네이션(pagination) -->
				<nav>
					<ul class="pagination pagination-lg">
						<li class="disabled">
							<a href="#" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
							</a>
						</li>
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li>
							<a href="#" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
							</a>
						</li>
					</ul>
				</nav>				

			</div>
			<!-- //블로그 글 목록 -->

			<!-- 오른쪽 칼럼(로그인, 카테고리, 글쓴이 목록) -->
			<div class="col-md-3">

				<div class="loginarea">
					<div class="panel panel-default">
					<div class="panel-body">
						<form class="form-horizontal">
						  <div class="form-group">
						    <div class="col-sm-12">
						      <input type="email" class="form-control" name="userid" id="userid" placeholder="email@domain.com">
						    </div>
						  </div>
						  <div class="form-group">
						    <div class="col-sm-12">
						      <input type="password" class="form-control" name="userpass" id="userpass" placeholder="비밀번호">
						    </div>
						  </div>
						  <div class="form-group">
						    <div class="col-sm-12">
						      <button type="submit" class="btn btn-default">로그인</button>
						      <button type="button" class="btn btn-info">회원가입</button>
						    </div>
						  </div>
						</form>
					</div>
					</div>					
				</div>

				<div>
					<a href="write.html" class="writebtn btn btn-primary btn-lg col-sm-12"><span class="glyphicon glyphicon-pencil"></span> 글쓰기</a>
				</div>

				<div class="categories">
					<h3>Categories</h3>
					<ul>
						<li>전체보기 <span class="badge">128</span></li>
						<li>life <span class="badge">12</span></li>
						<li>art <span class="badge">32</span></li>
						<li>fashion <span class="badge">50</span></li>
						<li>technics <span class="badge">22</span></li>
						<li>etcs <span class="badge">9</span></li>
					</ul>
				</div>

				<div class="authors">
					<h3>Authors</h3>
					<ul>
						<li>홍길동 <span class="badge">23</span></li>
						<li>장영민 <span class="badge">15</span></li>
						<li>최길수 <span class="badge">13</span></li>
						<li>김영철 <span class="badge">11</span></li>
						<li>박철수 <span class="badge">16</span></li>
					</ul>					
				</div>

			</div>
			<!-- 오른쪽 칼럼(로그인, 카테고리, 글쓴이 목록) -->

		</div>
		<div class="footer">
			Copyright &copy; <strong>Our Blog</strong> All rights reserved.
		</div>
	</div>
</body>
</html>