<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>Our Blog</title>
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="container">
		<div class="jumbotron">
  	<h1><a href="index.html">Our Blog</a></h1>
  	<p>Our Blog는 우리의 꿈과 희망을 나누는 곳입니다.</p>
  	<p>
			<form class="form-inline" role="search">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Search">
				</div>
				<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
			</form>
  	</p>
		</div>
		<div class="row">

			<!-- 블로그 글 본문 보기 -->
			<div class="col-md-9">

				<!-- 블로그 글 -->
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title"><h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h2></h3>
					</div>
					<div class="panel-body">
						<p>
							<img class="img-responsive" src="images/sample1.jpg" alt="image sample">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto eveniet iure quam excepturi, necessitatibus aliquam accusamus illo ea veniam in quod laborum rerum, vel ut distinctio possimus quibusdam animi nostrum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ex omnis ut, adipisci vel. Atque mollitia pariatur corporis non at error beatae aliquam praesentium aliquid autem. Omnis, aperiam pariatur saepe. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto eveniet iure quam excepturi, necessitatibus aliquam accusamus illo ea veniam in quod laborum rerum, vel ut distinctio possimus quibusdam animi nostrum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ex omnis ut, adipisci vel. Atque mollitia pariatur corporis non at error beatae aliquam praesentium aliquid autem. Omnis, aperiam pariatur saepe.	
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto eveniet iure quam excepturi, necessitatibus aliquam accusamus illo ea veniam in quod laborum rerum, vel ut distinctio possimus quibusdam animi nostrum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ex omnis ut, adipisci vel. Atque mollitia pariatur corporis non at error beatae aliquam praesentium aliquid autem. Omnis, aperiam pariatur saepe. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto eveniet iure quam excepturi, necessitatibus aliquam accusamus illo ea veniam in quod laborum rerum, vel ut distinctio possimus quibusdam animi nostrum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ex omnis ut, adipisci vel. Atque mollitia pariatur corporis non at error beatae aliquam praesentium aliquid autem. Omnis, aperiam pariatur saepe.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto eveniet iure quam excepturi, necessitatibus aliquam accusamus illo ea veniam in quod laborum rerum, vel ut distinctio possimus quibusdam animi nostrum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ex omnis ut, adipisci vel. Atque mollitia pariatur corporis non at error beatae aliquam praesentium aliquid autem. Omnis, aperiam pariatur saepe. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto eveniet iure quam excepturi, necessitatibus aliquam accusamus illo ea veniam in quod laborum rerum, vel ut distinctio possimus quibusdam animi nostrum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ex omnis ut, adipisci vel. Atque mollitia pariatur corporis non at error beatae aliquam praesentium aliquid autem. Omnis, aperiam pariatur saepe.	
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto eveniet iure quam excepturi, necessitatibus aliquam accusamus illo ea veniam in quod laborum rerum, vel ut distinctio possimus quibusdam animi nostrum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ex omnis ut, adipisci vel. Atque mollitia pariatur corporis non at error beatae aliquam praesentium aliquid autem. Omnis, aperiam pariatur saepe. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto eveniet iure quam excepturi, necessitatibus aliquam accusamus illo ea veniam in quod laborum rerum, vel ut distinctio possimus quibusdam animi nostrum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ex omnis ut, adipisci vel. Atque mollitia pariatur corporis non at error beatae aliquam praesentium aliquid autem. Omnis, aperiam pariatur saepe.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto eveniet iure quam excepturi, necessitatibus aliquam accusamus illo ea veniam in quod laborum rerum, vel ut distinctio possimus quibusdam animi nostrum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ex omnis ut, adipisci vel. Atque mollitia pariatur corporis non at error beatae aliquam praesentium aliquid autem. Omnis, aperiam pariatur saepe. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto eveniet iure quam excepturi, necessitatibus aliquam accusamus illo ea veniam in quod laborum rerum, vel ut distinctio possimus quibusdam animi nostrum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ex omnis ut, adipisci vel. Atque mollitia pariatur corporis non at error beatae aliquam praesentium aliquid autem. Omnis, aperiam pariatur saepe.	
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto eveniet iure quam excepturi, necessitatibus aliquam accusamus illo ea veniam in quod laborum rerum, vel ut distinctio possimus quibusdam animi nostrum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ex omnis ut, adipisci vel. Atque mollitia pariatur corporis non at error beatae aliquam praesentium aliquid autem. Omnis, aperiam pariatur saepe. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto eveniet iure quam excepturi, necessitatibus aliquam accusamus illo ea veniam in quod laborum rerum, vel ut distinctio possimus quibusdam animi nostrum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ex omnis ut, adipisci vel. Atque mollitia pariatur corporis non at error beatae aliquam praesentium aliquid autem. Omnis, aperiam pariatur saepe.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto eveniet iure quam excepturi, necessitatibus aliquam accusamus illo ea veniam in quod laborum rerum, vel ut distinctio possimus quibusdam animi nostrum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ex omnis ut, adipisci vel. Atque mollitia pariatur corporis non at error beatae aliquam praesentium aliquid autem. Omnis, aperiam pariatur saepe. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto eveniet iure quam excepturi, necessitatibus aliquam accusamus illo ea veniam in quod laborum rerum, vel ut distinctio possimus quibusdam animi nostrum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ex omnis ut, adipisci vel. Atque mollitia pariatur corporis non at error beatae aliquam praesentium aliquid autem. Omnis, aperiam pariatur saepe.	
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto eveniet iure quam excepturi, necessitatibus aliquam accusamus illo ea veniam in quod laborum rerum, vel ut distinctio possimus quibusdam animi nostrum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ex omnis ut, adipisci vel. Atque mollitia pariatur corporis non at error beatae aliquam praesentium aliquid autem. Omnis, aperiam pariatur saepe. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto eveniet iure quam excepturi, necessitatibus aliquam accusamus illo ea veniam in quod laborum rerum, vel ut distinctio possimus quibusdam animi nostrum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ex omnis ut, adipisci vel. Atque mollitia pariatur corporis non at error beatae aliquam praesentium aliquid autem. Omnis, aperiam pariatur saepe.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto eveniet iure quam excepturi, necessitatibus aliquam accusamus illo ea veniam in quod laborum rerum, vel ut distinctio possimus quibusdam animi nostrum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ex omnis ut, adipisci vel. Atque mollitia pariatur corporis non at error beatae aliquam praesentium aliquid autem. Omnis, aperiam pariatur saepe. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto eveniet iure quam excepturi, necessitatibus aliquam accusamus illo ea veniam in quod laborum rerum, vel ut distinctio possimus quibusdam animi nostrum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ex omnis ut, adipisci vel. Atque mollitia pariatur corporis non at error beatae aliquam praesentium aliquid autem. Omnis, aperiam pariatur saepe.	
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto eveniet iure quam excepturi, necessitatibus aliquam accusamus illo ea veniam in quod laborum rerum, vel ut distinctio possimus quibusdam animi nostrum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ex omnis ut, adipisci vel. Atque mollitia pariatur corporis non at error beatae aliquam praesentium aliquid autem. Omnis, aperiam pariatur saepe. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto eveniet iure quam excepturi, necessitatibus aliquam accusamus illo ea veniam in quod laborum rerum, vel ut distinctio possimus quibusdam animi nostrum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ex omnis ut, adipisci vel. Atque mollitia pariatur corporis non at error beatae aliquam praesentium aliquid autem. Omnis, aperiam pariatur saepe.																
						</p>
					</div>
					<div class="panel-footer">
						<div class="row">
							<div class="col-md-6"><span class="category"><strong>[life]</strong></span>&nbsp;&nbsp;<span class="writer">홍길동</span>&nbsp;&nbsp;<span class="date">2017-03-05 15:30:22</span>&nbsp;&nbsp;<span class="commentcount">댓글수 <span class="badge">3</span></span></div>
							<div class="col-md-6 btns">
								<a href="modify.html" class="btn btn-success"><span class="glyphicon glyphicon-edit"></span> 수정</a>
								<a href="" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> 삭제</a>
								<a href="index.html" class="btn btn-primary"><span class="glyphicon glyphicon-th-list"></span> 목록으로</a>
							</div>
						</div>						
					</div>
				</div>
				<!-- //블로그 글 -->

				<!-- 댓글 폼 -->
				<div class="row">
					<form class="form-horizontal">
						<div class="form-group">
							<label for="userid" class="col-sm-2 control-label">Email</label>
							<div class="col-sm-10">
								<input type="email" class="form-control" name="userid" id="userid" placeholder="hongkildong@hongkildong.com" readonly>
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword3" class="col-sm-2 control-label">댓글내용</label>
							<div class="col-sm-10">
								<textarea class="form-control" rows="3" name="comment" id="comment"></textarea>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-default">댓글저장</button>
							</div>
						</div>
					</form>
				</div>
				<!-- //댓글 폼 -->

				<!-- 댓글 리스트 -->
				<div class="commentlist">
					<div class="comment">
						<h3>홍길동 hongkildong@hongkildong.com 2017-03-08 10:15:09</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi numquam possimus, voluptate itaque temporibus corrupti nemo nostrum maxime hic veritatis nobis, illo beatae excepturi, voluptatem libero error vero aut enim. <a href="#" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-trash"></span></a></p>
					</div>
					<div class="comment">
						<h3>김영철 kimyc@domain.com 2017-03-07 09:30:23</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi numquam possimus, voluptate itaque temporibus corrupti nemo nostrum maxime hic veritatis nobis, illo beatae excepturi, voluptatem libero error vero aut enim.</p>
					</div>			
					<div class="comment">
						<h3>박철수 cspark@test.com 2017-03-06 15:23:34</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi numquam possimus, voluptate itaque temporibus corrupti nemo nostrum maxime hic veritatis nobis, illo beatae excepturi, voluptatem libero error vero aut enim.</p>
					</div>	
				</div>
				<!-- //댓글 리스트 -->

			</div>
			<!-- //블로그 글 본문 보기 -->

			<!-- 오른쪽 칼럼(로그인, 카테고리, 글쓴이 목록) -->
			<div class="col-md-3">

				<div class="loginarea">
					<div class="panel panel-default">
					<div class="panel-body">
						<form class="form-horizontal">
						  <div class="form-group">
						    <div class="col-sm-12">
						      <input type="email" class="form-control" name="userid" id="userid" placeholder="email@domain.com">
						    </div>
						  </div>
						  <div class="form-group">
						    <div class="col-sm-12">
						      <input type="password" class="form-control" name="userpass" id="userpass" placeholder="비밀번호">
						    </div>
						  </div>
						  <div class="form-group">
						    <div class="col-sm-12">
						      <button type="submit" class="btn btn-default">로그인</button>
						      <button type="button" class="btn btn-info">회원가입</button>
						    </div>
						  </div>
						</form>
					</div>
					</div>					
				</div>

				<div>
					<a href="write.html" class="writebtn btn btn-primary btn-lg col-sm-12"><span class="glyphicon glyphicon-pencil"></span> 글쓰기</a>
				</div>

				<div class="categories">
					<h3>Categories</h3>
					<ul>
						<li>전체보기 <span class="badge">128</span></li>
						<li>life <span class="badge">12</span></li>
						<li>art <span class="badge">32</span></li>
						<li>fashion <span class="badge">50</span></li>
						<li>technics <span class="badge">22</span></li>
						<li>etcs <span class="badge">9</span></li>
					</ul>
				</div>

				<div class="authors">
					<h3>Authors</h3>
					<ul>
						<li>홍길동 <span class="badge">23</span></li>
						<li>장영민 <span class="badge">15</span></li>
						<li>최길수 <span class="badge">13</span></li>
						<li>김영철 <span class="badge">11</span></li>
						<li>박철수 <span class="badge">16</span></li>
					</ul>					
				</div>

			</div>
			<!-- 오른쪽 칼럼(로그인, 카테고리, 글쓴이 목록) -->

		</div>
		<div class="footer">
			Copyright &copy; <strong>Our Blog</strong> All rights reserved.
		</div>
	</div>
</body>
</html>